/* Reset and global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #333333, #666666);
    color: #ffffff;
}

header {
    background-color: #222222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.nav-links a:hover {
    color: #007bff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote {
    font-style: italic;
    margin-top: 20px;
    font-size: 18px;
    color: #000000; /* Set quote text color to black */
}

.form-container {
    display: none; /* Hide login form by default */
    margin-top: 30px;
}

.form-container.active {
    display: block; /* Show login form when active */
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-group button {
    width: 100%; /* Full width by default */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .logo {
        font-size: 24px;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-links li {
        margin-left: 0;
        margin-top: 10px;
    }

    .form-group button {
        width: auto; /* Auto width (content-based) for smaller screens */
        margin-top: 10px; /* Add margin for spacing */
    }
}
